$pink-color: #ef5da8;
$blue-color: #3877ee;
$primary-color: #42567a;

.block-swiper-wrapper {
  position: relative;
  transition: all 0.3s ease-in-out;
  margin-bottom: 15vh;

  @media (max-width: 425px) {
    margin-top: 35vh;
  }
}

.block-swiper {
  margin-top: 3rem;
  &:hover {
    cursor: grab;
  }

  &__slide {
    & h1 {
      color: $blue-color;
      font-weight: 400;
    }

    & p {
      color: $primary-color;
      margin-top: 1rem;
    }
  }
}

.custom-swiper-button-prev {
  position: absolute;
  left: -65px;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 900px) {
    left: -55px;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
  }

  @media (hover: none) {
    display: none;
  }
}

.custom-swiper-button-next {
  position: absolute;
  right: -65px;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 900px) {
    right: -55px;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
  }

  @media (hover: none) {
    display: none;
  }
}

.swiper-button-disabled {
  opacity: 0;

  &:hover {
    cursor: auto;
  }
}
