$primary-color: #42567a;
$pink-color: #ef5da8;
$blue-color: #3877ee;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  color: $primary-color;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle-line {
  position: absolute;
  height: 100vh;
  width: 1px;
  background-color: $primary-color;

  @media (max-width: 425px) {
    display: none;
  }
}

.second-middle-line {
  position: absolute;
  top: calc(15vh + 19vw);
  height: 1px;
  width: 86%;
  background-color: $primary-color;

  @media (max-width: 425px) {
    top: 40vh;
  }
}
